force-app/main/default/flows/Monitor_Aprobaciones_42h_Principal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Envía reporte diario con resumen de actividad</description>
        <name>Send_Daily_Report</name>
        <label>Send Daily Report</label>
        <locationX>118</locationX>
        <locationY>475</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>admin@xumtech.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>📋 Reporte Diario - Monitor Aprobaciones Xumtech</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Estimado equipo de administración,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;El proceso automático de monitoreo de aprobaciones ha completado su ejecución diaria.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;RESUMEN DEL PROCESAMIENTO:&lt;/p&gt;&lt;p&gt;• Aprobaciones vencidas procesadas: {!varTimeoutCount}&lt;/p&gt;&lt;p&gt;• Fecha y hora de ejecución: {!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ACCIONES EJECUTADAS:&lt;/p&gt;&lt;p&gt;• Envío de alertas a directores de ventas&lt;/p&gt;&lt;p&gt;• Actualización de registros con timeout&lt;/p&gt;&lt;p&gt;• Creación de tareas de seguimiento&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Este es un email automático generado por el sistema de monitoreo de aprobaciones de Xumtech Financial Services.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos,&lt;/p&gt;&lt;p&gt;Sistema Salesforce&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Calcula las horas transcurridas desde la creación de la aprobación</description>
        <name>Calculate_Hours_Elapsed</name>
        <label>Calculate Hours Elapsed</label>
        <locationX>691</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>varHoursElapsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaHoursElapsed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Timeout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Incrementa el contador de aprobaciones vencidas</description>
        <name>Increment_Timeout_Counter</name>
        <label>Increment Timeout Counter</label>
        <locationX>121</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>varTimeoutCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Approvals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Correct_Process</name>
        <label>Check_Correct_Process</label>
        <locationX>700</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Approvals.ProcessDefinitionId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>processDefinition.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Opportunity</targetReference>
            </connector>
            <label>check</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si encontramos aprobaciones pendientes</description>
        <name>Check_If_Found_Approvals</name>
        <label>Check If Found Approvals</label>
        <locationX>410</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Send_Daily_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Approvals Found</defaultConnectorLabel>
        <rules>
            <name>Has_Pending_Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processInstancesPendientes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Approvals</targetReference>
            </connector>
            <label>Has Pending Approvals</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica si la aprobación excedió las 42 horas</description>
        <name>Check_If_Timeout</name>
        <label>Check If Timeout</label>
        <locationX>411</locationX>
        <locationY>788</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Approvals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Within Time Limit</defaultConnectorLabel>
        <rules>
            <name>Approval_Timeout_42h</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHoursElapsed</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>42.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Timeout_Actions_Subflow</targetReference>
            </connector>
            <label>Timeout &gt; 42 hours</label>
        </rules>
    </decisions>
    <description>Flow principal que monitorea aprobaciones de tarjetas de crédito pendientes por más de 42 horas y ejecuta acciones automáticas</description>
    <environments>Default</environments>
    <formulas>
        <description>Calcula horas transcurridas desde creación de la aprobación</description>
        <name>formulaHoursElapsed</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime} - {!Loop_Through_Approvals.CreatedDate}) * 24</expression>
        <scale>2</scale>
    </formulas>
    <label>Monitor Aprobaciones 42h - Principal</label>
    <loops>
        <description>Itera sobre cada aprobación pendiente encontrada</description>
        <name>Loop_Through_Approvals</name>
        <label>Loop Through Approvals</label>
        <locationX>419</locationX>
        <locationY>487</locationY>
        <collectionReference>processInstancesPendientes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Correct_Process</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Daily_Report</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_Opportunity</name>
        <label>Get_Current_Opportunity</label>
        <locationX>802</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Hours_Elapsed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Approvals.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>processDefinition</name>
        <label>processDefinition</label>
        <locationX>853</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>processInstancesPendientes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LimiteMontoTarjetaCredito10K</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>processInstancesPendientes</name>
        <label>processInstancesPendientes</label>
        <locationX>853</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Found_Approvals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>396</locationX>
        <locationY>6</locationY>
        <connector>
            <targetReference>processDefinition</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-01</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Llama al subflow que ejecuta las acciones de timeout</description>
        <name>Call_Timeout_Actions_Subflow</name>
        <label>Call Timeout Actions Subflow</label>
        <locationX>120</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Increment_Timeout_Counter</targetReference>
        </connector>
        <flowName>Approval_Timeout_Actions</flowName>
        <inputAssignments>
            <name>inputHoursElapsed</name>
            <value>
                <elementReference>varHoursElapsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOpportunityId</name>
            <value>
                <elementReference>Loop_Through_Approvals.TargetObjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputWorkitemId</name>
            <value>
                <elementReference>Loop_Through_Approvals.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Almacena las horas transcurridas calculadas</description>
        <name>varHoursElapsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Contador de aprobaciones vencidas procesadas</description>
        <name>varTimeoutCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
