force-app/main/default/flows/Opportunity_Alerta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AlertaEmail</name>
        <label>AlertaEmail</label>
        <locationX>830</locationX>
        <locationY>769</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CollecionCorreos</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asignar_Correo_a_Coll</name>
        <label>Asignar Correo a Coll</label>
        <locationX>1022</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>CollecionCorreos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecorrerMetadata.Email_Alerta_Evaluacion_Crediticia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorrerMetadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VerificarRT</name>
        <label>VerificarRT</label>
        <locationX>439</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>esTarjetaCredito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetRTOpportunityTarjetaCredito.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCustomMetadata</targetReference>
            </connector>
            <label>esTarjetaCredito</label>
        </rules>
    </decisions>
    <description>También requieren que, cuando las oportunidades tipo tarjetas sean puestas en etapa “evaluación 
crediticia”, se envíe un correo a la dirección de correo del departamento de estudio de créditos con 
la información relevante del trámite para que los mismos puedan realizar la evaluación. El 
departamento de evaluación no cuenta con usuarios Salesforce y, por ende, manejan su parte del 
proceso por intercambios de correo electrónico con el agente de ventas respectivo</description>
    <environments>Default</environments>
    <formulas>
        <name>ClienteName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>OppUrl</name>
        <dataType>String</dataType>
        <expression>&apos;https://freelance-4e-dev-ed.develop.lightning.force.com/lightning/r/Opportunity/&apos;+{!$Record.Id}+&apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>OwnerName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner.Name}</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>&apos;Solicitud de evaluación crediticia – Cliente &apos; + {!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity - Alerta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Alerta Evaluacion Crediticia</label>
    <loops>
        <name>RecorrerMetadata</name>
        <label>RecorrerMetadata</label>
        <locationX>828</locationX>
        <locationY>497</locationY>
        <collectionReference>GetCustomMetadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignar_Correo_a_Coll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AlertaEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomMetadata</name>
        <label>GetCustomMetadata</label>
        <locationX>672</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecorrerMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TipoConfig__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alerta Evaluacion Crediticia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConfiguracionVenta__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRTOpportunityTarjetaCredito</name>
        <label>GetRTOpportunityTarjetaCredito</label>
        <locationX>229</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solicitud_de_Tarjeta_de_Credito</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>106</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>GetRTOpportunityTarjetaCredito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluación crediticia</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Estimado equipo de estudio de créditos,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Se ha generado una solicitud de evaluación crediticia para la siguiente oportunidad de tarjeta de crédito:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Oportunidad:&lt;/strong&gt; &lt;a href=&quot;https://freelance-4e-dev-ed.develop.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;URL Oportunidad&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Monto solicitado:&lt;/strong&gt; {!$Record.Limite_Monto_Maximo__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Últimos 4 dígitos de tarjeta:&lt;/strong&gt; {!$Record.Ultimos_4_Digitos__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Agente de ventas: {!OwnerName}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Email del agente:&lt;/strong&gt; {!$Record.Owner.Email}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Fecha de solicitud:&lt;/strong&gt; {!$Record.CreatedDate}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Por favor, proceder con la evaluación y comunicarse con el agente de ventas para cualquier información adicional.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Saludos,&lt;/p&gt;&lt;p&gt;Equipo Salesforce&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollecionCorreos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
